* {
  font-family: "Playfair Display", serif;
}

.canvas {
  margin-left: 40px;
  margin-top: -40px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 40px;
}
.title {
  margin: 40px;
}
h1 {
  margin-bottom: 10px;
}
p {
  margin-top: 0px;
}
.formClass {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.submitButton,
.сlearButton {
  width: 20em;
  background-color: #fff;
}

.submitButton:hover,
.сlearButton:hover {
  background-color: #111;
  color: #fff;
}

.error {
  color: #111;
  font-weight: 100;
}
